.page, .repos {
  display: none;
}

.active {
  display: block;
}


.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  min-width: 1000px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}

ul.kitty {
  margin: 0;
}

.kitty li {
  list-style-type: none;
  display: inline;
  float: left;
}

.kitty li:hover {
  text-decoration: none;
  color: #337ab7;
}

.nav li {
  list-style-type: none;
  text-decoration: none;
  display: -webkit-inline-box;
}

.nav li>a {
  color: #333;
  font-weight: bold;
  padding-left: 10px;
}

.nav ul {
  margin-left: 400px;
  margin-bottom: 0;
  margin-top: 5px;
  padding-left: 15px;
}

.nav li>a:hover {
  text-decoration: none;
  color: #337ab7;
}

.searchbar {
  font-size: 12px;
  position: relative;
  width: 360px;
  height: 30px;
  border-radius: 3px;
  margin-top: 3px;
  margin-left: 20px;
  float: left;
}

.name_options img {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
}

.name_options ul {
  float: right;
  margin-top: -30px;
}

.name_options li {
  list-style-type: none;
  text-decoration: none;
  display: -webkit-inline-box;
  padding: 5px;
}

.name_options li>a {
  color: #333;
  font-weight: bold;
}

.name_options li>a:hover {
  text-decoration: none;
  color: #337ab7;
}

.container2 {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.col-md-8 {
  margin-top: 20px;
  padding: 0;
  width: 69%;
}

.col-md-4 {
  margin-top: 20px;
  padding: 0;
  width: 29%;
  margin-left: 20px;
}

.col-md-4 li img {
  width: 230px;
  height: 230px;
  border-radius: 5px;
}

.col-md-4 li {
  list-style-type: none;
}

li.name {
  font-weight: bold;
  font-size: 26px;
}

li.username {
  font-size: 20px;
  color: #666;
  font-weight: 300;
  padding-bottom: 10px;
}

ul.nav nav-tabs {
  color: #666;
}

.editprofile .btn {
  background-color: #f5f5f5;
  display: inline-block;
  font-weight: bold;
  color: #333;
  vertical-align: middle;
  font-size: 13px;
  width: 120px;
  height:30px;
  float: right;
  margin-top: -40px;
}

.editprofile .btn:hover {
  background-color: #eee;
}

.datejoined span {
  color: #ccc;
}

ul.datejoined {
  border-top: 1px solid #eee;
  width: 80%;
  margin-left: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}

.datejoined li {
  margin-left: 30px;
}

.stats {
  width: 80%;
  margin-left: 30px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 15px;
  text-align: center;
  display: block;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: block;
}

.stat {
  color: #767676;
  display: inline-block;
}

.stat a {
  font-size: 2em;
  text-decoration: none;
}

.stat-count {
  color: #4078c0;
  display: block;
  font-size: 28px;
  font-weight: bold;
  display: block;
}

.postings_name {
  list-style-type: none;
  font-weight: bold;
  color: #4078c0;
  font-size: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 30px;
}

.postings_name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.postings_date {
  color: #888;
  font-size: 13px;
}

.postings_date:hover {
  text-decoration: none;
}

.postings_lang {
  margin-top: -35px;
  float: right;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

.organizations h3 {
  font-size: 16px;
  font-weight: bold;
}

.organizations {
  margin-left: 40px;
}



.repos-bar .searchbar {
  display: inline-block;
  font-weight: bold;
  color: #333;
  vertical-align: middle;
  font-size: 13px;
  width: 250px;
  height:30px;
  padding-left: 0;
  margin-left: 0;
}

.repos-bar {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.repos .btn {
  width: 70px;
  height: 30px;
  float: left;
  background-color: #f5f5f5;
  display: inline-block;
  font-weight: bold;
  color: #333;
  border-style: solid;
  border-color: #d5d5d5;
  margin-left: 3px;
  margin-top: 3px;
}

.repos .btn:hover {
  background-color: #d5d5d5;
}

.repos .btn-success {
  background-image: linear-gradient(#8add6d, #60b044);
  width: 70px;
  height: 30px;
  float: right;
  color: white;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15)
  background-color: #60b044;
}

.options li {
  list-style-type: none;
  text-decoration: none;
  display: -webkit-inline-box;
  vertical-align: -webkit-baseline-middle;
}

.options li>a {
  color: #337ab7;
  padding-left: 10px;
}

.options ul {
  margin-left: 400px;
  margin-bottom: 0;
  margin-top: 5px;
  padding-left: 15px;
}

.options li>a:hover {
  text-decoration: underline;
  color: #337ab7;
}

.all li {
  color: black;
}

.stargazers {
  margin-left: 8px;
  display: inline-block;
  color: #888;
  text-decoration: none;
  font-weight: bold;
}

.forks {
  margin-left: 8px;
  display: inline-block;
  color: #888;
  text-decoration: none;
  font-weight: bold;
}

.octicon-git-branch {
  font: normal normal normal 13px/1 octicons;
}

.octicon-inbox {
  font: normal normal normal 20px/1 octicons;
}

.organizations li img {
  float: left;
  width: 42px;
  height: 42px;
}
